.profile {
  &__content {
    @include grid("center", 1, 10);
    grid-auto-flow: dense;
    .form {
      order: 1;
    }
    @include mediaQuery("min", 1024) {
      @include grid("center", 2, 10);
      .form {
        order: 0;
      }
    }
  }
}
