.text-danger {
  color: $danger;
}
.text-success {
  color: $success;
}
.text-primary {
  color: $primary;
}
.text-warning {
  color: $warning;
}
.bg-danger {
  background-color: $danger;
}
.bg-success {
  background-color: $success;
}
.bg-primary {
  background-color: $primary;
}
.bg-warning {
  background-color: $warning;
}
