%grid_center {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
%input {
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: $radius;
  padding: $padding-md;
  width: 100%;
  margin-bottom: 1rem;
  @include transition("all", 0.3);
  outline: none;
  &:focus {
    border-color: $main-color;
  }
  &.border-danger:focus {
    border-color: $danger;
  }
}

%custom_media {
  @include grid("center", 1, 10);
  @include mediaQuery("min", 767) {
    @include grid("center", 2, 10);
  }
  @include mediaQuery("min", 991) {
    @include grid("center", 3, 10);
  }
  @include mediaQuery("min", 1024) {
    @include grid("center", 4, 10);
  }
}
%media_chart {
  @include grid("center", 1, 10);

  @include mediaQuery("min", 911) {
    @include grid("center", 2, 10);
  }
}
