.text-center {
  text-align: center;
}
.text-start {
  text-align: left;
}
.text-end {
  text-align: right;
}
.capitalize {
  text-transform: capitalize;
}
// Padding
.p-0 {
  padding: 0;
}
.p-lg {
  padding: $padding-lg !important;
}
.p-md {
  padding: $padding-md !important;
}
.p-sm {
  padding: $padding-sm !important;
}

.pe-lg {
  padding-right: $padding-lg;
}
.ps-lg {
  padding-left: $padding-lg;
}
.pb-lg {
  padding-bottom: $padding-lg;
}
.pt-lg {
  padding-top: $padding-lg;
}
.pe-md {
  padding-right: $padding-md;
}
.ps-md {
  padding-left: $padding-md;
}
.pb-md {
  padding-bottom: $padding-md;
}
.pt-md {
  padding-top: $padding-md;
}
.pe-sm {
  padding-right: $padding-sm;
}
.ps-sm {
  padding-left: $padding-sm;
}
.pb-sm {
  padding-bottom: $padding-sm;
}
.pt-sm {
  padding-top: $padding-sm;
}
// Margin
.m-0 {
  margin: 0;
}
.m-lg {
  margin: $margin-lg;
}
.m-md {
  margin: $margin-md;
}
.m-sm {
  margin: $margin-sm;
}

.me-lg {
  margin-right: $margin-lg;
}
.ms-lg {
  margin-left: $margin-lg;
}
.mb-lg {
  margin-bottom: $margin-lg;
}
.mt-lg {
  margin-top: $margin-lg;
}
.me-md {
  margin-right: $margin-md;
}
.ms-md {
  margin-left: $margin-md;
}
.mb-md {
  margin-bottom: $margin-md;
}
.mt-md {
  margin-top: $margin-md;
}
.me-sm {
  margin-right: $margin-sm;
}
.ms-sm {
  margin-left: $margin-sm;
}
.mb-sm {
  margin-bottom: $margin-sm;
}
.mt-sm {
  margin-top: $margin-sm;
}

// Width
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
.flex {
  display: flex;
  max-width: 100%;
}
.d-none {
  display: none;
}
.fs-1 {
  font-size: 1rem;
}
.fs-2 {
  font-size: 1.2rem;
}
.fs-3 {
  font-size: 1.3rem;
}
.fs-4 {
  font-size: 1.4rem;
}
.fs-5 {
  font-size: 1.5rem;
}
.grid-4 {
  @include grid("center", 4, 10);
}
.grid-3 {
  @include grid("center", 3, 10);
}
.grid-2 {
  @include grid("center", 2, 10);
}
.grid-1 {
  @include grid("center", 1, 10);
}
