.main_content {
  width: 35%;
  border-radius: 20px;
  margin: 5em auto;
  display: flex;
  background-color: #fff;
}
@media screen and (max-width: 640px) {
  .main-content {
    width: 90%;
  }
}
@media screen and (min-width: 642px) and (max-width: 800px) {
  .main-content {
    width: 70%;
  }
}

.login_form {
  border-radius: 20px;
}
.form__input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 2em;
  outline: none;
  margin: 1.5em auto;
  transition: all 0.5s ease;
  background-color: transparent;
}
.form__input:focus {
  border-bottom-color: #008080;
  border-radius: 4px;
  background-color: #fff;
}
.login_btn {
  transition: all 0.5s ease;
  width: 70%;
  margin: auto;
  border-radius: 30px;
  color: #008080;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #008080;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.login_btn:hover,
.login_btn:focus {
  background-color: #008080;
  color: #fff;
}
