.parent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5px;
}
.menu {
  width: 150px;
  transition: 0.3s ease-in-out;
  opacity: 0;
  border-radius: 10px;
  z-index: -4;
  transform: translateX(-20%);
  padding: 5px;
}
.menu li > li {
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 3px;
  background-color: #f2f2f2;
}
.menu li > li:hover {
  background-color: #dddada;
}
.menu li > li:active {
  opacity: 0.5;
}
.expandmenu.menu {
  opacity: 1;
  z-index: 1;
}
