.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  &-label {
    font-size: $fontSize - 0.1;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  div {
    width: 100%;
  }
  &-submit {
    width: fit-content;
    margin-left: auto;
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 0 1rem;
    @include mediaQuery("max", 768) {
      grid-template-columns: repeat(1, 1fr);
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      label {
        text-transform: capitalize;
      }
    }
  }
  &-select {
    @extend %input;
    margin-top: 1.5rem;
  }

  &-textarea {
    @extend %input;
    margin-top: $margin-lg;
    width: 100%;
    resize: none;
    min-height: 200px;
    line-height: 1.5;
  }

  .statusInput {
    display: flex;
    align-items: start;
    justify-content: center;
    input {
      margin: 1rem 0;
    }
  }
}
