.form {
  display: flex;
  flex-direction: column;
  &-control {
    @extend %input;
  }
  &-label {
    font-size: $fontSize - 0.1;
    margin-bottom: 5px;
  }
  &-submit {
    width: fit-content;
    margin-left: auto;
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1rem;
    @include mediaQuery("max", 768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
