.navbar {
  padding: $padding-md;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-bottom-color: $main-color;
  background-color: #fff;
  position: sticky;
  top: 0;
  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    width: 80px;
    @include transition("width", 0.3);
  }
  &.open &__logo {
    width: 230px;
    &__toggle {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
