.sidebar {
  width: 60px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: sticky;
  top: 50px;
  left: 0;
  height: 100vh;
  z-index: 2;
  background-color: $main-color;
  color: $white-color;
  @include transition("width", 0.3);
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: $margin-lg;
    padding: 0 $padding-md;
    justify-content: center;
    &__item {
      &__link {
        border-radius: $radius;
        padding: 5px;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: $secondary-color;
        }
        display: flex;
        gap: 10px;
        &__title {
          display: none;
        }
        &__icon {
          @include transition("width", 0.3);
        }
      }
    }
  }
  &.open {
    width: 200px;
    & .sidebar__list {
      &__item {
        &__link {
          justify-content: start;
          &__title {
            display: block;
          }
        }
      }
    }
  }
}
